# Ignore built files
dist/

# Ignore node_modules
node_modules/

# Ignore pnpm store directory
.pnpm-store/

# Ignore log files
*.log

# Ignore environment files
.env

# Context files
code_context.txt
code_context.sh

#Include the github actions
.github/